.box{
    width: 250px;
    height:300px;
    border: 0px;
    background-color: gainsboro;
}
.title{
    height:30px;
    font-size: 20px;
    background-color: red;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
    cursor: move;
}
.title img{
    padding-top: 10px;
}
li,a{
    height:30px;
    text-decoration: none;
    color: black;
    padding-bottom: 1px;
    list-style: none;
}
ul a:hover{
    color: red;
    text-decoration: underline;
}
